.administration-panel:before
  .Night &
    NightTopCarrot()
    border-color transparent transparent #424446 transparent
  .Day &
    DayTopCarrot()

.administration-panel
  right 67px
  top 46px
  &.panel
    overflow visible
  &:before
    top -7px
    right 9px

  .dropdown-menu
    position relative
    box-shadow none


