.Night .alarms-debug-tools
  background nAlarmsDebugToolsBgColor
.Day .alarms-debug-tools
  background dAlarmsDebugToolsBgColor
.alarms-debug-tools

  position fixed
  top 125px
  left 0px

  z-index 10000
  padding 10px
  border-radius 0 5px 5px 0


  dt,dd,dl
    margin 0
    padding 0

  dt
    width 170px
    float left

  dd
    float left

  b
    margin-bottom 6px
    display: inline-block


