.inactive-collaborator
  font-style italic
  .Night &
    color darken(#ccc, 30)
  .Day &
    color lighten(#222, 30)

.alert-collaborators
  position: 'absolute'
  left: 0
  right: 0
  bottom: 0
  text-shadow: none
  box-shadow: none
  [class^='icon']
    color: inherit
  .Night &
    color: black
  .Day &
    color inherit
