.identity-top-x-thumb
  width inherit
  height inherit

  .Day &
    image '/img/IdentityTopXThumb_Day.png' cover

  .Night &
    image '/img/IdentityTopXThumb_Night.png' cover

.logrhythm-identity-config-gear
  position relative
  top -20px
