@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.kv-browser-container .fade-in {
  animation: fadeIn 0.5s both;
}

.kv-browser-container .modal-dialog {
  max-width: Infinity;
}

/* REMOVE AFTER BOOTSTRAP lr-style UPGRADE */
.align-baseline {
  vertical-align: baseline;
}
