.netmon-actions-container
  position relative
  display flex
  align-items center

#nmPcapDownloadBtn, #nmAttachmentDownloadBtn
  width 100%
  background none
  box-shadow none
  border none
  line-height 14px
  font-size 14px
  text-align left
  margin 0
  padding 0

.warning-icon
  font-size 16px

.netmon-throbber-wrapper
  display inline-block

.warning-icon, .netmon-throbber-wrapper
  margin 0 7px

