.query-timeout-container
  height 30px
  .tooltip-error
    position absolute
    z-index 100
  .query-timeout-input
    display inline
    width 40px
  .query-timeout-label
    display inline-block
  .simple-tooltip
    position absolute
    width 150px
    text-align center
    z-index 100
  .simple-tooltip-up
    left 412px
    bottom 45px
    .simple-tooltip-arrow
      left 70px
      .Day &
        border-top-color #c00


.search-modal-footer
  .simple-tooltip
    left 65px
    bottom 42px

.msg-log-recover-input
  display inline
  width 110px

.dataprocessor-timeout-input
  display inline
  width 55px
