search-max-results
  display block
  .max-results-input
    display inline
    width 80px
  .simple-tooltip
    position absolute
    width 150px
    text-align center
    z-index 100
  .simple-tooltip-up
    left 95px
    bottom 45px
    .simple-tooltip-arrow
      left 70px
      .Day &
        border-top-color #c00
