.top-anomalous-events-thumb
  width inherit
  height inherit

.sample-top-anomalous-events
  width 649px
  height 810px
  transform scale(0.45)
  position relative
  top -220px
  left -160px
  overflow hidden
  pointer-events none
