.Night #PanelUser:before
    NightTopCarrot()
.Day #PanelUser:before
    DayTopCarrot()

#username
    display block
    margin seem 0

#PanelUser
    right 21px
    top 46px
    z-index 5
    overflow visible
    min-width 212px
    &:before
        z-index 9999
        top -7px
        right 9px
