# Tony's private files
private/

# Tony's config files
# See config.sample/ for example of config files
config/

# Unnecessary Mac stuff
.DS_Store

# Dist/Built front end
backend/src/public_web_root/js/*
backend/src/public_web_root/icons/*
backend/src/public_web_root/fonts/*
backend/src/public_web_root/css/*
backend/src/public_web_root/index.html
backend/.vscode/settings.json
