// TODO: refrence color variables once they are defined in lr-style:
.Day
  .breadcrumbs
    background: rgb(218, 218, 218);

// TODO: refrence color variables once they are defined in lr-style:
.Night
  .breadcrumbs
    background: rgb(19, 21, 21)
