inputErrorStyle()
  border-color #cc0000
  box-shadow 0 0 gutter #cc0000

.change-password-modal
  width 450px

  .simple-tooltip
    text-align center
    width 291px
    position absolute

  .throbber-settings
    position absolute
