.checkbox-input
    opacity 0
    display inline-block!important
    height 0
    width 0

.checkbox-input:focus + .checkbox-input-label, 
   .checkbox-input:focus:checked + .checkbox-input-label
     box-shadow 0 0 15px #007dc3
     text-shadow 0 1px 1px #fafafa
     color #4c4c4c
