.timeframe-picker-wrapper
  padding 20px 0 0 20px
  display flex
  flex-direction column
  width 750px
  height 325px

  .last-x-range-picker
    display flex

.timeframe-type-select-wrapper
  flex 1.5

.timeframe-editor-wrapper
  flex 3
  width 70%

.timeframe-single-date-wrapper
  width 45%

.hot-warm-day {
  line-height 16px
}
.warm-day-text {
  display block
  width 100%
}
.warm-dot-day,
.warm-dot-footer {
  font-size 16px
  color #F7AB30
  text-align center
}
.warm-dot-day {
  display block
  width 100%
  line-height 12px
}
.warm-dot-footer {
  display inline
  line-height 16px
}
.warm-dot-day,
.warm-dot-balancer {
  height 12px
}
