
 .ui-tablestyles-tableRow__selected .ui-tablestyles-tableCell {
  background: #325466;
}
.Day .ui-tablestyles-tableRow__selected .ui-tablestyles-tableCell{
  background: #b0d4e8;
}
.ui-tablestyles-tableRow__selected  .ui-tablestyles-tableCell.ui-tablestyles-even {
  background: #2b4655;
}
.Day .ui-tablestyles-tableRow__selected  .ui-tablestyles-tableCell.ui-tablestyles-even {
  background:  #9dcae2;
}