layout-form
  display block
  .edit-layout
    cursor default
    padding 10px 15px
    border-radius 2px
    .icon-x
      position absolute
      font-size 10px
      top 11px
      right 16px
      z-index 1
    .btn
      .Night &
        [class*='icon-']
          color #ccc
      .Day &
        .icon-garbage
          color #ccc
    .columns-error
      .tooltip-arrow
        left auto
        right 30px

.layout-action-btn
  width 85px
  margin-left 4px
  height 24px
