.force-graph
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.nlg-color-square
  display: inline-block
  width: 17px
  height: 17px
  margin: 3px

.nlg-color-row
  display: grid
  grid-template-columns: 20px auto 20px
  grid-column-gap: 10px
  margin-bottom: 5px

.nlg-vertical-input-without-label label
  display: none
