multi-select-wrapper
  .dropdown
    width 100%
  &.ng-touched.ng-invalid-required
    .Day &, .Night &
      box-shadow 0 0 gutter nTaMakePlaceHolderNgDirtyInvalidBs
    .btn
      &:focus
        .Night &
          box-shadow none
