.procedure-reorder--container {
  opacity: 0;
  transition: opacity 0.4s;
}

.procedure-reorder--container.visible {
  opacity: 1;
}

.procedure-reorder--arrow.disabled {
  opacity: 0;
  pointer-events: none;
}

.procedure-reorder--arrow:hover i {
  font-weight: 900 !important;
}
