.Night
  & #error-title, .error-text // error title should be removed here
    color nErrorTitleColor
    text-shadow 0 0 8px nErrorTitleTs, 0 0 8px nErrorTitleTs, 0 0 8px nErrorTitleTs
.Day
  & #error-title, .error-text //error-title should be removed here
    color dErrorTitleColor
    text-shadow 0 0 8px dErrorTitleTs, 0 0 8px dErrorTitleTs, 0 0 8px dErrorTitleTs
#error-title
  margin-top 125px
  text-align center
  font-size 120px
  font-weight 200
  &.medium
    font-size 60px
