.Night
  #unsupported
    background nUnsupportedBgColor
    color nUnsupportedColor

    h1
      color nUnsupportedH1Color

    a:link, a:visited, a:hover, a:active
      color nUnsupportedAColor

#unsupported
  h1
    font-size 48px
    line-height @font-size * 1.4
    margin 0

  #logo
    margin seem

  #wrapper
    width 600px
    margin gutter auto

  #browers
    float right
    transition all 0.3s
    &:hover
      transform scale(1.1)

  p
    font-size 14px
    line-height 28px

  a:link, a:visited, a:hover, a:active
    font-weight bold