// app global css in SCSS form

// For Install Logs and other Console messages
.fixed-font-console {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

// Axon style / To force the buttons to use the right foreground colour (it varies between Dark and Light mode)
.q-btn.bg-primary
{
  color: var(--q-color-textForPrimaryButton) !important;
}

// Axon style / To force the bar under the name of tabs to be coloured with the gradient
.q-tab__indicator.text-primary {
  color: transparent !important;
  background: rgb(2,0,36) !important;
  background: linear-gradient(90deg, #50B7F8 0%, #B74F92 100%) !important;
}

// Axon style / To force the background of popup dialogs in Dark mode
.q-dialog .q-card--dark,
.q-dialog .q-card--dark .q-tab-panel {
  background: rgb(62, 66, 73);
}

