.aie-inspector
  min-height 140px

  ol
    margin-left 0px
    padding-left  25px

    li
      margin-bottom 15px

  .Day &
    text-shadow 0 1px 0 rgba(255,255,255,0.5)
    .odd
      background-color dAlarmsModalScrollableEvenBgColor

  .Night &
    text-shadow 0 1px 1px black-100
    .odd
      background-color #1B1B1B

  .radio
    margin-bottom 15px

.properties-throbber
  margin-top 20px

  .relationship
    padding 10px

  .block
    padding 10px

.inspector-block-criteria-block
  .Day &
    border 1px solid gray-dark-70

  .Night &
    border 1px solid gray-montana-22

.aie-title
  font-size 15px
  font-weight bold
  text-align left
  margin-bottom 15px
  margin-top 10px
  padding-bottom 10px

  .Day &
    border-bottom 1px solid gray-50

  .Night &
    border-bottom 1px solid gray-charcoal-29

.aie-criteria-command-word
  color orange-tenne-80

.aie-criteria-command-label
  font-size 93%
  .Day &
    color #4E4C4C
  .Night &
    color #A6A6A6

.aie-criteria-boolean-block
  .Day &
    border 1px solid gray-dark-70
  .Night &
    border 1px solid gray-montana-22
  display block
  padding 10px

.aie-criteria-boolean + .aie-criteria-boolean
  margin-top 10px
