.Night [select]
  background linear-gradient(nSelectFileGradColorStop1, nSelectFileGradColorStop2)
  border 1px solid nSelectFileBorder
.Day [select]
  background linear-gradient(dSelectFileGradColorStop1, dSelectFileGradColorStop2)
  border 1px solid dSelectFileBorder
[select]
  height 28px
  line-height @height
  box-sizing border-box