//Bootstrap Spacing utilities

// Some special margin utils
  .m-auto  { margin:        auto !important; }
  .mt-auto { margin-top:    auto !important; }
  .mr-auto { margin-right:  auto !important; }
  .mb-auto { margin-bottom: auto !important; }
  .ml-auto { margin-left:   auto !important; }
  .mx-auto {
    margin-right: auto !important;
    margin-left:  auto !important;
  }
  .my-auto {
    margin-top:    auto !important;
    margin-bottom: auto !important;
  }

.pb-seem {
  padding-bottom 11px !important
}
