.add-log-source-modal
    max-width 950px
    max-height 400px

    .help-card
        width 275px
        border-radius 6px

        .section-header
            border-color #424446
    .help-card:hover
        outline: 2px solid #44a8e0;
        box-shadow: 0px 0px 20px #44a8e0;
