errorMessageColor = #cc6600

.Night #version
  color nVersionColor
  text-shadow nTextShadow
.Day #version
  color dVersionColor
  text-shadow dTextShadowWhite

.error-message
  .Night &
    color errorMessageColor
  .Day &
    color errorMessageColor

.date-time-format-info
  line-height 17px
