#Inspector
  .section-content
    overflow-y hidden
    overflow-x hidden

  .blank-inspector-content
    text-align center
    height 100%

    p
      position relative
      top 40%
      transform translateY(-40%)

  .ui-tabset-full-width .ui.tab.header
    width: 100%

  .time-range-container
    overflow visible
    .custom-time-range
      margin-top 10px
      input[type="text"]
        display inline-block
        margin 0 10px 0 5px
        width 60px
      .last-x-range-picker
        display flex
        line-height 28px
        .ui.dropdown
          min-width 100px

.copy-widget-dropdown
  width 145px
  padding-right 10px
  .dropdown-option
    max-width 200px
    .icon-user, .icon-team
      width 23px
      text-align center
  .dropdownmenu ul
    min-width 240px

.time-range-container
  .time-range-error
    font-style italic

.labels-heading
  color #e5e5e5
  font-family Ubuntu, Tahoma, sans-serif
  font-size 14px
  margin-top 5px

.cloudai-labels
  float left
  border 1.5px solid #44a8e0
  border-radius 25px
  padding:0 8px 0 8px
  margin 0 5px 5px 0

#userDetailsInspectorTabs
  .content.active
    height 100%
    padding 0
    overflow hidden

  .ui.tab.stage
    position relative
    overflow hidden
    height 100%

  li.header
    background #494949

  .details-table-divider
    border-top-width 1px
    border-top-style solid
    border-top-color #666

  tr.sub-section
    border-left-width 15px
    border-left-style solid
    border-left-color #313131

  tr.button
    border-left-width 5px

.Night
  .copy-widget-dropdown
    .active
      .icon-user, .icon-team
        nGlow()
  .dashboard-filters
    color nTextColor
    text-shadow nLabelTs
    .cm-s-default 
        color: #ccc;
        background-color: #1f2121;
        border-color: #333;
        text-shadow: 0 1px 1px #000;
    .cm-fieldname-field, .cm-fieldname-data
        color: #ccc;
        text-shadow: 0 1px 1px #000;
    .CodeMirror-selected 
        background: #44a8e0 !important;
  .time-range-container
    .time-range-error
      color nTimeScaleColorError
  ::placeholder
       color #999

.Day
  .copy-widget-dropdown
    .active
      .icon-user, .icon-team
        dGlow()
  .dashboard-filters
    color dTextColor
    text-shadow dLabelTs
  .time-range-container
    .time-range-error
      color dTimeScaleColorError

  .labels-heading
    color rgb(51, 51, 51)

  #hostDetailsInspectorTabs
    li.header
      background #E0E0E0
      border-color #E0E0E0

  #userDetailsInspectorTabs
    li.header
      background #E0E0E0
      border-color #E0E0E0

  #activityCardInspector
    li.header
      background #E0E0E0
      border-color #E0E0E0
      
    tr.sub-section
      border-left-color #C9C9C9

#fieldInspectorTabs
  .content.active
    height 100%
    padding 0
    overflow hidden

  .ui.tab.stage
    position relative
    overflow hidden
    height 100%

  .timeline-section
    padding-top 10px
    padding-bottom 10px
    text-align center

#hostDetailsInspectorTabs, #activityCardInspector
  .content.active
    height 100%
    padding 0
    overflow hidden

  .ui.tab.stage
    position relative
    overflow hidden
    height 100%

  .timeline-section
    padding-top 10px
    padding-bottom 10px
    text-align center
  li.header
    background #494949

#activityCardInspector
  td.name
    width: 122px
