.beat-header-top
    flex-direction row 
    display flex 
    margin-top 10px

.beat-header-top .beat-header-top-configure
    left 4%
    position relative

.beat-header-top .beat-header-top-create
    left 10%
    position relative

.beat-slinky .ui-slinky-slinky-header
    height 2.5rem
    border-radius 0.3rem 0.3rem 0 0
    border-bottom-width 1px
    border-bottom-style solid
    border-top-width 1px
    line-height 1.1
    border-top-style solid
    padding 0.75rem 1.25rem !important
    z-index 1

.beat-slinky .display-hidden
    display none

.beat-slinky .general-beat-options .dropdown
    width 100%

.beat-slinky .number-options.dropdown
    width 20%

.beat-slinky .header-icon-up
    rotate 90deg
    position absolute
    right 7px
    top 12px

.beat-slinky .header-icon-down
    rotate 270deg
    position absolute
    right 7px
    top 12px

.beat-slinky .ui-numberinput-wrapper
    width 100%
    margin-right 8px
    height 2rem


.Day .beat-slinky .icon-info
    color #666
    
    &:hover
        color #383838

.Night .beat-slinky .icon-info
    color #b3b3b3
    
    &:hover
        color #d4d4d4

.beat-slinky .field-padding 
    padding 8px 20px 

.beat-slinky .field-display
    display flex

.new-beat-header
    text-align center
    display flex 
    flex-wrap nowrap
    justify-content center
    align-items center

.new-beat-header .new-beat-badge-1
    border-radius 50%
    width 25px
    height 25px
    padding 3px 6px 6px
    background #44a8e0
    color #000
    text-align center
    margin-right 4px

.new-beat-header .new-beat-badge-2
    border-radius 50%
    width 25px
    height 25px
    padding 3px 6px 6px
    background #ccc
    color #000
    text-align center
    margin-right 4px
    position relative

.new-beat-header .new-beat-header-line
    height 1px
    background #9b9b9b
    width 20rem
    margin-left 1rem
    margin-right 1rem

.new-beat-header .new-beat-header-line-configure
    height 1px
    background #9b9b9b
    width 18rem
    margin-left 2rem
    margin-right 1rem

.Night .beat-sub-head
    border-bottom-color #232425
    background #131515

.Day .beat-sub-head
    background #d9d9d9

.beat-sub-head
    position: relative
    -webkit-box-sizing: border-box
    -moz-box-sizing border-box
    box-sizing border-box
    border-bottom-width 1px
    border-bottom-style solid
    z-index 2

.beat-select-container
    height 25rem
    overflow-y auto
    margin-top 4px
    padding 0px 4px 0px 4px

.beat-select-container .selected-beat
    border-color #007dc3
    box-shadow inset 0 1px 1px #000, 0 0 8px #007dc3
    text-decoration none

.beat-select-container .beat-select
    width 100%
    text-decoration none
    margin-top 6px
    margin-bottom 2px
    font-weight bold
    
    &:focus
        border-color #007dc3
        box-shadow inset 0 1px 1px #000, 0 0 8px #007dc3
        text-decoration none

    &:hover
        text-decoration none

.beat-search-input 
    display flex
    marginBottom 5px
    padding-left 4px

.beat-search-icon
    width 35px
    height 24px
    position absolute
    border none
    right 17px
    margin-top 2px
    transform rotate(270deg)
    background none !important
    box-shadow none

.beat-details-header
    font-size 16px

.beat-details-sub-header
    font-size 12px

.clear
    clear both
    padding-bottom 1rem

.beat-config-action .check-icon-position
    top 2px
    padding-right 4px
    position relative

.beat-container-height
    height 2.8rem
.itemWrapper {
    margin: 0;
}

.beat-slinky .selectbox .dropdown{
    width 100%
}

.beat-slinky .ui-tablestyles-headerRow .ui-tablestyles-headerCellBorder:first-child .ui-tablestyles-headerCell .ui-tablestyles-sortIcon{
    display:none;
}

.beat-grid .ui-tablestyles-headerRow .ui-tablestyles-headerCellBorder:first-child .ui-tablestyles-headerCell .ui-tablestyles-sortIcon{
    display:none;
}

.logsources-table-grids-custom .beats-cellcolor-error
  background: #852728 !important;
  color:#fff;
  padding: 0px 5px !important;
  min-height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

div.ui-tablestyles-tableCell:has(div.beats-selection) { 
    background rgba(68,168,224,0.45) !important
}

.Night .beats-selection-box{
    display: flex;
    border-color: #575a5c;
    vertical-align: middle;
    align-items: center;
    position: relative;
    left: 5%;
    padding: 8px;
    border-radius: 4px;
    width: 36%
    flex-wrap: wrap;
}

.Day .beats-selection-box{
    display: flex;
    border-color: #575a5c;
    vertical-align: middle;
    align-items: center;
    position: relative;
    left: 5%;
    padding: 8px;
    text-shadow: 0px 1px 1px #fafafa;
    border-radius: 4px;
    width: 35%
    flex-wrap: wrap;
}

.mr-5 {
    margin-left: 5px
}
.logsources-table-grid .beat-table-grid-count{
    display: flex; 
    align-items: center;
    margin-bottom: 2px; 
    height: '3rem'
}
.beat-inspector-addIcon{
    margin-right: 4px;
    vertical-align: middle;
    margin-bottom: 2px;
    color: white !important;
}

.beat-inspector-addIcon::hover{
    color: white !important;
}