.case-license-container
  max-width 1040px
  margin 40px
.case-header
  border-bottom 1px solid #4c4c4c
  padding 0 3px 5px 0
.case-title
  titleFont()
  font-weight bold
.case-sub-title
  titleFont()
  font-weight bold
  color #44a8e0

.case-btn
  width 155px

.Night
  .case-sub-header-text
    color #44A8E0

.Day
  .case-sub-header-text
    color #999

.Night, .Day // To override 'ui badge' styles on CloudAI demo page.
  .case-header
    .badge
      position relative
      padding 4px 6px
