.logrhythm-details-timeline-card {
    border-radius: 4px;
    border: 1px solid #121212;
    color: #ccc;
    background: #383b3b;
    padding-left: 3px;
}
.logrhythm-details-timeline-card header {
    position: relative;
    border-bottom: 1px solid #121212;
    border-radius: 4px 4px 0 0;
    font-size: 1.2em;
}
.logrhythm-details-timeline-card header .logrhythm-details-timeline-indicator {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -3px;
    bottom: 0;
    width: 1px;
    padding-left: 5px;
    border-radius: 3px 0 0 0;
    background-color: #555;
    box-shadow: 0 0 7px #555;
}
.logrhythm-details-timeline-card footer, .logrhythm-details-timeline-card header {
    min-height: 30px;
    padding: 0 10px;
    background: linear-gradient(#383b3b, #2b2e2e);
    -ms-flex-align: center;
    align-items: center;
}
.logrhythm-details-timeline-card footer i, .logrhythm-details-timeline-card header i {
    color: #b3b3b3;
    cursor: pointer;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-activeCard {
    box-shadow: 0 0 8px 2px #44a8e0;
    border-radius: 5px;
}
.logrhythm-details-timeline-card footer {
    border-top: 1px solid #121212;
    border-radius: 0 0 4px 0;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-text-placeholder {
    height: 1em;
    margin: 3px 0;
    background: #555;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-body-pad {
    padding: 12px 16px;
    padding: .75rem 1rem;
    word-wrap: break-word;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-body-pad .logrhythm-details-timeline-darkheader {
    background: linear-gradient(#323333, #262728);
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-info {
    color: #42a6e0;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-grey {
    color: #555;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-actions {
    color: #b3b3b3;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-not-applicable {
    color: #777;
}
.logrhythm-details-timeline-card .logrhythm-details-timeline-dark {
    background-color: #262728;
}
.Day .logrhythm-details-timeline-card {
    background: #ddd;
    color: #555;
    border: 1px solid #aaa;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, .7);
}
.Day .logrhythm-details-timeline-card .logrhythm-details-timeline-indicator {
    background-color: #777;
    box-shadow: 0 0 7px #777;
}
.Day .logrhythm-details-timeline-card .logrhythm-details-timeline-text-placeholder {
    background: #777;
}
.Day .logrhythm-details-timeline-card header {
    border-bottom: 1px solid #aaa;
}
.Day .logrhythm-details-timeline-card footer {
    border-top: 1px solid #aaa;
}
.Day .logrhythm-details-timeline-card .logrhythm-details-timeline-grey {
    color: #777;
}
.Day .logrhythm-details-timeline-card footer, .Day .logrhythm-details-timeline-card header {
    background: linear-gradient(#ddd, #ccc);
}
.Day .logrhythm-details-timeline-card .logrhythm-details-timeline-actions, .Day .logrhythm-details-timeline-card footer i, .Day .logrhythm-details-timeline-card header i {
    color: #777;
}
.logrhythm-details-timeline-score {
    font-family: OpenSans, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 3px 2px;
    border-right: 1px solid #121212;
    box-sizing: border-box;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-shadow: 0 1px 1px #000;
}
.logrhythm-details-timeline-topRightHeading {
    -ms-flex-positive: 9;
    flex-grow: 9;
    font-size: 12px;
    text-align: right;
    color: #777;
}
.logrhythm-details-timeline-cardFooter {
    font-size: 11px;
    color: #777;
    padding: 4px 16px;
    padding: .25rem 1rem;
}
.logrhythm-details-timeline-title {
    -ms-flex-positive: 40;
    flex-grow: 40;
    padding: 0 10px;
}
.Day .logrhythm-details-timeline-score {
    color: #555;
}
.logrhythm-details-timeline-card .ui-logospinner-logo-spinner {
    width: 50px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.logrhythm-details-timeline-cloudaiblock {
    padding-left: 0;
}
.logrhythm-details-timeline-cardAlarmIcon {
    font-size: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px 0 0 10px;
}
.logrhythm-details-timeline-alarmIconCircle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #303030;
    padding-left: 8px;
    padding-top: 6px;
}
.logrhythm-details-timeline-hide {
    display: none;
}
.logrhythm-details-timeline-summaryText {
    padding: 0 0 10px;
}
.logrhythm-details-timeline-blackBackground {
    background: #262728;
}
.logrhythm-details-timeline-content {
    margin: 0 15px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}
.logrhythm-details-timeline-content li {
    list-style: none;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-activeCard {
    box-shadow: 0 0 8px 2px #44a8e0;
    border-radius: 5px;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-group {
    position: relative;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-timeDateHeader {
    display: -ms-flexbox;
    display: flex;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-timeLabel {
    top: calc(50% - .5em);
    left: -95px;
    color: inherit;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-dateLabel {
    padding-left: 5px;
    color: #777;
    padding-right: 5px;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-event-list {
    padding-left: 0;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-event-list li {
    list-style: none;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-placeholder {
    position: relative;
}
.logrhythm-details-timeline-content .logrhythm-details-timeline-placeholder .logrhythm-details-timeline-event-list {
    height: 4px;
    border: 2px solid #171d2a;
    border-radius: 1px 4px 4px 1px;
}
.Day .logrhythm-details-timeline-content .logrhythm-details-timeline-timeLabel:after {
    border-top: .2em solid #42a6e0;
}
.Day .logrhythm-details-timeline-content .logrhythm-details-timeline-placeholder .logrhythm-details-timeline-event-list {
    border: 2px solid #aaa;
}
.logrhythm-details-timeline-noData {
    padding-top: 50px;
    font-size: 20px;
    color: #007dc3;
    text-align: center;
    z-index: 1;
    text-shadow: 0 0 40px rgba(0, 0, 0, .33);
}
@keyframes logrhythm-details-timeline-fadeInDown {
    0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}
to {
    opacity: 1;
    transform: none;
}
}.logrhythm-details-timeline-highlighted-event {
    margin: 5px 0;
}
.Day .logrhythm-details-timeline-body .logrhythm-details-timeline-highlighted-event, .Night .logrhythm-details-timeline-body .logrhythm-details-timeline-highlighted-event {
    box-shadow: 0 0 75px #44a8e0;
}
.logrhythm-details-timeline-body {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
}
.logrhythm-details-timeline-body .logrhythm-details-timeline-thead {
    font-size: .8em;
}
.logrhythm-details-timeline-body .logrhythm-details-timeline-thead .logrhythm-details-timeline-thead-labels {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #555;
}
.logrhythm-details-timeline-body .logrhythm-details-timeline-thead .logrhythm-details-timeline-thead-labels .logrhythm-details-timeline-thead-hour {
    width: 100px;
    padding: 10px 5px 2px;
    text-align: right;
    -o-border-image: linear-gradient(0deg, #555, transparent) 1 100%;
    border-image: linear-gradient(0deg, #555, transparent) 1 100%}
.logrhythm-details-timeline-body .logrhythm-details-timeline-thead .logrhythm-details-timeline-thead-labels .logrhythm-details-timeline-thead-card {
    -ms-flex: 1;
    flex: 1;
    padding: 10px 5px 2px;
}
.Night .logrhythm-details-timeline-body .logrhythm-details-timeline-thead .logrhythm-details-timeline-thead-labels .logrhythm-details-timeline-thead-card {
    border-left: 1px solid #555;
    -o-border-image: linear-gradient(0deg, #555, transparent) 1 100%;
    border-image: linear-gradient(0deg, #555, transparent) 1 100%}
.Day .logrhythm-details-timeline-body .logrhythm-details-timeline-thead .logrhythm-details-timeline-thead-labels .logrhythm-details-timeline-thead-card {
    border-left: 1px solid #ccc;
    -o-border-image: linear-gradient(0deg, #ccc, transparent) 1 100%;
    border-image: linear-gradient(0deg, #ccc, transparent) 1 100%}
.logrhythm-details-timeline-body .logrhythm-details-timeline-scroll {
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
}
.logrhythm-details-timeline-body .logrhythm-details-timeline-empty {
    padding: 60px 0;
    text-align: center;
    font-size: 2em;
}
.Day .logrhythm-details-timeline-body .logrhythm-details-timeline-empty, .Night .logrhythm-details-timeline-body .logrhythm-details-timeline-empty {
    color: #42a6e0;
    text-shadow: 0 0 10px #42a6e0;
}
.logrhythm-details-timeline-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0 7px 3px;
    margin-top: -5px;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-date {
    -ms-flex: 1;
    flex: 1;
    line-height: 1.5;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-date span {
    margin-right: 7px;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-value {
    color: #42a6e0;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-value .btn, .logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-value .btn:focus, .logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-value .btn:hover, .logrhythm-details-timeline-layout .logrhythm-details-timeline-header .logrhythm-details-timeline-header-value .dropdown {
    color: inherit!important;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .dropdown {
    min-width: auto;
    max-height: 21px;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-header .dropdown .btn.btn-secondary {
    background: none!important;
    border: none!important;
    box-shadow: none;
    text-shadow: none!important;
    padding: 2px 2em 2px 5px!important;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-subjects {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-subjects .logrhythm-details-timeline-subject {
    -ms-flex: 1;
    flex: 1;
    margin: 0 5px;
}
.logrhythm-details-timeline-layout .logrhythm-details-timeline-subjects .logrhythm-details-timeline-subject>:only-child {
    height: 100%}
.logrhythm-details-timeline-no-after:after {
    content: none;
}