.identity-table-container
  height calc(100% - 110px)

.identifiers-table
  height calc(100vh - 490px)
  min-height 150px
  .tree-interaction
    display none

.identifiers-table .first .level-1
  ui-table-cell.actions
    padding-left 7px

identifiers
  .icon-info
    vertical-align middle
    font-size 17px
  .identity-name-heading
    margin-top 4rem
