.Night .logsource-grid .ui-tabs-tab-header.ui-tabs-tab-header-selected
    background: linear-gradient(#373737, #262626);
    border-top-color: #494a4d;
    border-bottom-color: #262626;

.Night .logsource-grid .ui-tabs-tab-header
    background: linear-gradient(#494a4d, #3b3c3e);
    border-color: #494a4d #262626 #494a4d #262626;
    text-shadow: 0 1px 1px #000;
    font-size: 12px;
    padding: 9.3px 20px;
    color: #fff;

.Night .logsource-grid .ui-tabs-tab-content
    background: none;
    border-top: 1px solid #444;
    border-right: 0;
    border-left: 0;
    padding: 10px 0 0;

.Night 
    .logsource-sub-header, 
    .agent-sub-header
        border-bottom-color: #232425;
        background: #131515;

.logsource-sub-header, .agent-sub-header
    border-bottom-width: 1px;
    border-bottom-style: solid;

.Day  
    .logsource-sub-header
    .agent-sub-header
        background: #d9d9d9;


.Day .logsource-grid .ui-tabs-tab-header.ui-tabs-tab-header-selected
    background: linear-gradient(#fff, #e5e5e5);
    border-top-color: #d9d9d9;
    border-right-color: #afafaf;
    border-bottom-color: #e5e5e5;
    border-left-color: #d9d9d9;

.Day .logsource-grid .ui-tabs-tab-header
    background: linear-gradient(#c2c2c2, #afafaf);
    color: #323232;
    border-color: #afafaf #afafaf #afafaf transparent;
    font-size: 12px;
    padding: 10px 20px;

.Day .logsource-grid .ui-tabs-tab-content
    background: none;
    border-top: none;
    border-right: 0;
    border-left: 0;
    padding: 10px 0 0;

.Night .logsources-table-grids-custom .ui-tablestyles-headerRow
    background: rgba(0,0,0,0.3);

.Day .logsources-table-grids-custom .ui-tablestyles-headerRow
    background: #f0f0f0;
    font-size: 14px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: visible;
    overflow-x: visible;

.logsources-table-grids-custom .ui-tablestyles-sortIcon
    font-size: 10px;
    position: absolute;
    left: auto;
    right: 3px;
    top: 11px;

.logsources-table-grids-custom .custom-arrow-icon
    position: relative;
    top: 7px;

.Night .logsources-table-grids-custom .ui-tablestyles-headerCellBorder:last-child
    margin-right: 0px;

.Day .logsources-table-grids-custom .ui-tablestyles-headerCellBorder
    background: rgba(202,202,202,0.3);

.Day .logsources-table-grids-custom .ui-tablestyles-headerCellBorder:last-child
    margin-right: 0px;

.logsources-table-grids-custom .ui-tablestyles-headerCell
    padding: 0 !important;
    
.logsources-table-grids-custom .ui-tablestyles-headerCell strong
    padding: 0 0 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    margin-right: 5px;

.logsources-table-grids-custom .ui-tablestyles-table-content
    overflow-x: auto;

.logsources-table-grids-custom .logsource-cellcolor-error
  background: #852728 !important;
  color:#fff;
  padding: 0px 5px !important;
  min-height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

.logsources-table-grids-custom .logsource-cellcolor-warning
  background: #B07501 !important;
  color:#fff;
  padding: 0px 5px !important;
  min-height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

.logsource-cell
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;

.dropdown-menu .dropdown-item.active
    background-color: #575a5c !important;

.logsources-table-grids-custom span.logsource-select-drop
    position: relative;
    top: 8px;

.logsources-table-grids-custom .ui-tablestyles-headerCell span h5
    display: none;

.logsources-table-grids-custom .ui-tablestyles-tableRow.odd .ui-tablestyles-tableCell
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 13px;
    padding: 0 5px !important;
    line-height: 28px;
    min-height: 28px;

.logsources-table-grids-custom .ui-tablestyles-tableCell.ui-tablestyles-even
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 13px;
    padding: 0 5px !important;
    line-height: 28px;
    min-height: 28px;

.Night .logsources-table-grids-custom .ui-contentplaceholder-content-placeholder
    background: transparent;
    display: none !important;

.Day .logsources-table-grids-custom .ui-contentplaceholder-content-placeholder
    background: transparent;
    display: none !important;

.logsources-table-grids-custom .dropdown.no-min-width.silent-dropdown
    top: 8px;
    position: relative;
    margin-top: 0px;

.logsources-table-grids-custom .dropdown.no-min-width.silent-dropdown .dropdown-toggle.btn-block.btn:after
    top: 15px;

.logsources-table-grids-custom .dropdown.no-min-width.silent-dropdown button.ui-button-button.btn.btn-secondary.btn-block.dropdown-toggle.text-left
    padding-top: 6px;
    padding-bottom: 5px;

.Night .logsources-table-grids-custom .ui-stringinputiconbutton-icon-input-wrapper
    padding: 0px;
    margin-top: 7px;
    height: 24px;

.Day .logsources-table-grids-custom .ui-stringinputiconbutton-icon-input-wrapper
    height: 23px;
    padding: 0px;
    margin-top: 7px;

.Night .logsources-table-grids-custom .form-control
    font-weight: 600;
    border-width: 0;

.logsources-table-grids-custom .ui-inputerrors-errorBody
    display: none !important;

.Day .logsources-table-grids-custom .ui-tablestyles-tableCell.ui-tablestyles-even
    background: #F0F0F0;

.Day .logsources-table-grids-custom .ui-tablestyles-tableRow.odd .ui-tablestyles-tableCell
    background: #E5E5E5;

.Day .logsources-table-grids-custom .form-control
    border-width: 0;
    font-weight: 600;

.Night .logsources-table-grids-custom .ui-tablestyles-tableRow.ui-tablestyles-even.even
    min-height: auto !important;

.Night .logsources-table-grids-custom .ui-tablestyles-tableRow.odd
    min-height: auto !important;

.Day .logsources-table-grids-custom .ui-tablestyles-tableRow.ui-tablestyles-even.even
    min-height: auto !important;

.Day .logsources-table-grids-custom .ui-tablestyles-tableRow.odd
    min-height: auto !important;

.logsources-table-grids-custom .ui-tablestyles-tableCell.ui-tablestyles-even:last-child
    padding: 0px !important;

.logsources-table-grids-custom .ui-tablestyles-tableRow.odd .ui-tablestyles-tableCell:last-child
    padding: 0px !important;

.logsources-table-grids-custom.retired .ui-tablestyles-tableCell.ui-tablestyles-even:last-child
    padding: 0 5px !important;

.logsources-table-grids-custom.retired .ui-tablestyles-tableRow.odd .ui-tablestyles-tableCell:last-child
    padding: 0 5px !important;

.Day .dropdown-menu .dropdown-item.active
    background-color: #cfcfcf !important;
    color: #4c4c4c;
      
.logsources-table-grids-custom 
    position: relative;
    .load-more-agents__loader-wrapper {
        position: absolute;
        bottom: 13px;
        width: 100%;
        text-align: center;
        height: calc(100% - 94%); 
        img {
          width: 100%;
          max-width: 55px;
        }  
    }         
    .loaderWrapper
        position: absolute;
        top: 65px;
        z-index: 999;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: calc(100% - 65px);
        color: red;
         img {
                width: 100%;
                max-width: 170px;
                top: 50%;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(-50%);
         }
.loaderWrapper__page-load {
    height: calc(100vh - 234px);
    text-align: center;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
} 

.new-logsource-header 
    width 45rem 
    display flex
    flex-wrap nowrap
    justify-content center
    align-items center

 .new-logsource-header .new-beat-badge-1
    border-radius 50%
    width 41px
    height 25px
    padding 3px 6px 6px
    background #44a8e0
    color #000
    text-align center
    margin-right 4px

.new-logsource-header .new-beat-badge-2
    border-radius 50%
    width 41px
    height 25px
    padding 3px 6px 6px
    background #ccc
    color #000
    text-align center
    margin-right 4px

.checked
    position relative
    margin 4px 4px 0 0
    .icon-check-circle 
       color #27944f
       font-size 24px
       &:before
          z-index 1
          position relative
       &:after
          content ""
          position absolute
          top 2px
          left 2px
          height 68%
          width 87%
          background white
          z-index 0
          border-radius 50%

.new-logsource-header .new-beat-header-line
    height 1px
    background #9b9b9b
    width 20rem
    margin-left 1rem
    margin-right 1rem

.new-logsource-header .new-beat-header-line-configure
    height 1px
    background #9b9b9b
    width: 13rem;
    margin-right: 1rem;

.new-logsource-header .new-logsource-title
    margin-left 3px
    width 12rem
    margin-top 15px

.beat-header-top .logsource-top-create
    left 6%
    position relative

.beat-header-top .logsource-top-configure
    left 2%
    position relative

.logsource-top-configure
    .new-logsource-header
        .new-beat-badge-1,
        .new-beat-badge-2
            width 35px
            

.container .log-details
    margin-left 5px
    margin-top 5px

.log-details .log-detail-sub 
    margin-bottom: 10px 
    padding-left: 5px    

.log-search-input 
    display flex
    marginBottom 5px
    padding-left 4px
    width 17.1rem   

.log-details-sub-header
    marginBottom  1rem     

.log-search-icon
    width 35px
    height 24px
    position absolute
    border none
    right 17px
    margin-top 2px
    transform rotate(270deg)
    background none !important
    box-shadow none   
    left 14.5rem 

.log-select
    height 32rem   

.log-select-container
    height 32rem
    overflow-y auto
    margin-top 4px
    padding 0px 4px 0px 4px
    margin-left: 5px
    flex-wrap wrap


.log-select-container .selected-log
    border-color #007dc3
    box-shadow inset 0 1px 1px #000, 0 0 8px #007dc3
    text-decoration none


.log-select-container .log-select

    text-decoration none
    margin-top 6px
    margin-bottom 2px
    font-weight bold
    width 16.8rem
    height 5rem 
    padding-top 25px
    margin-right 4px
    vertical-align top

    &:focus
        border-color #007dc3
        box-shadow inset 0 1px 1px #000, 0 0 8px #007dc3
        text-decoration none

    &:hover
        text-decoration none   

.log-item-container
    display flex
    font-size 16px 
    flex-flow column wrap         

.log-item-container  .log-subitem 
    font-size 12px 
    lineHeight 15px 

.logsource-title 
    line-height 2rem

.span-container 
    height 1px
    display flex
    background #9b9b9b
    margin-top 1%

.logsource-sub-header  .log-create-button
    text-decoration none 
    margin-left 4px 
    height 30px    

.logsource-sub-header  .log-create-button .icon-add
    margin-right 4px

.arrowUp-input-number {
    width: 0px;
    height: 0px;
    border-width: 0 0.6ex 0.6ex 0.6ex;
    border-color: transparent transparent rgba(0, 0, 0, 0.7);
    border-style: solid;
  }
  
  .arrowDown-input-number {
    width: 0px;
    height: 0px;
    border-width: 0.6ex 0.6ex 0 0.6ex;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent;
    border-style: solid;
  }
    
  .buttonWrapper-input-number {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  
  .btn-input-number {
    width: 2.26ex;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    flex: 1 1 auto;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: all 0.1s;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.1) inset 1px 1px 3px rgba(255, 255, 255, 0.7) inset;
  }
  
  .btnUp-input-number {
    bottom: 50%;
    border-radius: 2px 2px 0 0;
    border-width: 1px 1px 1px 1px;
  }
  
  .btnDown-input-number {
    top: 50%;
    border-radius: 0 0 2px 2px;
    border-width: 1px 1px 1px 1px;
  }  

  .log-source-grid .ui-tablestyles-headerRow .ui-tablestyles-headerCellBorder:first-child .ui-tablestyles-headerCell .ui-tablestyles-sortIcon {
    display: none;
  }

 .log-source-grid .ui-tablestyles-headerRow .ui-tablestyles-headerCellBorder:nth-child(2) .ui-tablestyles-headerCell .ui-tablestyles-sortIcon {
    display: none;
}

.pending-log-actions{
    justify-content: space-evenly;
    display: flex;
    padding-top: 8px;
}

.pending-log-transform-up{
    transform: rotate(270deg);
    cursor: pointer;
}

.pending-log-transform-down{
    transform: rotate(90deg);
    cursor: pointer;
}

.pending-hide-show{
    padding: 14px;
    position: absolute;
    right: 8px;
}

.Night .empty-line{
    height:1px;
    background:#262626;
}

.Day .empty-line{
    height:1px;
    background:black;
}

.associate-logs .ui-tabs-tab-header{
    padding: 0px !important;
    height: 42px !important;
}

.associate-link{
    display: flex;
    flex-wrap: nowrap;
    .associate-log-cell{
        width: 152px;
        white-space: nowrap; 
        text-overflow: ellipsis; 
        overflow: hidden;
    }
    .associate-link-cell{
        color: #007dc3; 
        font-weight: bold; 
        cursor: pointer; 
        width: 80px; 
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden;
    }
}